@tailwind base;
@tailwind components;
@tailwind utilities;
.das-logo {
  width: 178px;
}
.text-active-click{
  color: #16be65;
}

.bg-das-color {
  color: #ffffff;
  background-color: #16be65;
  padding: .475rem 1.5rem;
  font-weight: 600;
    border-width: 2px;
    line-height: 1.5;
  border-color: #16be65;
  border: 2px solid;
  line-height: 15px;
}
.bg-das-color:hover{
  color: #ffffff;
  background-color: #10a355;
}
.bg-das-color-outline{
  color: #16be65;
  background-color: #ffffff;
  padding: .475rem 1.5rem;
  font-weight: 600;
    border-width: 2px;
    line-height: 1.5;
  border-color: #16be65;
  border: 2px solid;
  line-height: 15px;
}
.bg-das-color-outline:hover{
  color: #16be65;
  background-color: #caf1de;
 
}
.header-das{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
}
.shadow-t {
  box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
}