@tailwind base;
@tailwind components;
@tailwind utilities;
.das-logo {
  width: 178px;
}
.text-active-click{
  color: #16be65;
}

.bg-das-color {
  color: #ffffff;
  background-color: #16be65;
  font-weight: 600;
  border-width: 2px;
  line-height: 1.5;
  border-color: #16be65;
  border: 2px solid;
  margin: 0;
  height: 35px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
  font-size: 14px;
}
.bg-das-color:hover{
  color: #ffffff;
  background-color: #10a355;
}
.bg-das-color-outline{
  color: #16be65;
  background-color: #ffffff;
  font-weight: 600;
  border-width: 2px;
  line-height: 1.5;
  border-color: #16be65;
  border: 2px solid;
  margin: 0;
  height: 35px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
  font-size: 14px;
}
.bg-das-color-outline:hover{
  color: #16be65;
  background-color: #caf1de;
 
}
.header-das{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
}
.shadow-t {
  box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
}
.bg-img{
  background-image:  url(./assets/banner.png);
  background-position: 50% 50%;
}
.overlay {
  background-color: rgba(2, 17, 42, 0.785);
  pointer-events: none;

}
.max-w-screen-xl{
  max-width: 1400px;
}